@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

* {
    /* Reset Style */
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    color: #222;
}

footer {
    padding: 15px;
}

#index-footer {
    padding-top: 10px;
}

.container {
    padding-top: 10px;
}

.padding {
    padding-top: 0.5rem;
}

.padding-index {
    padding-top: 1rem;
}

strong {
    font-weight: bold;
}

/** Post title **/

.post-title {
    text-align: center;
    color: #4c4c4c;
    font-family: font-family: 'Open Sans', sans-serif;;
    font-weight: 300;
    line-height: 90px;
    font-size: 35px;
}

.col {
    padding: 1;
}

.slash {
    text-align: left;
    line-height: 90px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #4c4c4c;
    opacity: 0.7;
    padding: 15px;
}



/* Navbar */

navbar {
    padding: 8px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
    padding: 0;
}

.bg-white {
    background-color: #FFFFFF;
}

/* Carousel */

.carousel-indicators li {
    border-radius: 12px;
    width: 10px;
    height: 10px;
    margin: 6px
}

.carousel-inner img {
    width: 100%;
    height: 700px;
    /* 100% */
}

#slide1 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_flowers.jpg);
    background-position: center center;
    background-size: cover;
}

#slide2 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_mountains.jpg);
    background-position: center center;
    background-size: cover;
}

#slide3 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_Gauja.jpg);
    background-position: center center;
    background-size: cover;
}

#slide4 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_analog.jpg);
    background-position: center center;
    background-size: cover;
}

/* Social */

.social-div {
    display: grid;
}

.pre-social hr {
    border-top: 1px solid #b4b4b4b4;
    width: 20%;
    margin-left: 40%;
    display: flex;
}

.social a {
    font-size: 30px;
    padding: 15px;
}

.fa-facebook-official {
    color: #3b5998;
}

#fb-contact {
    color: #3b5998;
}

.fa-instagram {
    color: #fb3958;
    /*color: #517fa4;*/
}

.fa-flickr {
    color: #0063dc;
}

.fa-facebook-official:hover,
.fa-instagram:hover,
.fa-flickr:hover {
    color: #d5d5d5;
}

/* List Galleries */

.image-list {
    padding-left: 20%;
    padding-right: 20%;
}

.full-width-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 30px;
}

.full-width-image:hover {
    opacity: .8;
}


/* Grid Galleries and Lightboxes*/

#galleryWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#galleryWrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

.one-third {
    width: 29%;
    float: left;
    margin: 2%;
}

.one-third-block {
    width: 29%;
    float: left;
    margin: 2%;
}


#galleryWrapper img:hover {
    opacity: .8;
}

/* Post Grid */

.post-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10% 0%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.post-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.post-grid:after {
    clear: both;
}

.post-grid:after,
.post-box:before {
    content: '';
    display: table;
}

.post-grid li {
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.post-grid li {
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
    padding: 1%;
}

.post-box {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.post-box:hover {
    opacity: 0.8
}

.post-info {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    transition: all .3s;
}


.post-info:hover {
    background: #8e0e0e;
    opacity: .80;
}

.post-info h3 {
    font-size: 25px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 3;
}

.post-info p {
    padding: 4px 5px;
    margin: 0 30px;
    font-size: 14px;
    line-height: 1;
}

.text-color-white{
    color:white;
}

.text-color-black {
    color: black;
}

.bimg-cover {
    background-size: cover;
}

.post-cover-1 {
    background-image: url("/content/posts/post_maras-zeme/post_maras-zeme_cover.jpg");
}

.post-cover-2 {
    background-image: url("/content/posts/post_summer-anete/post_summer-anete_cover.jpg");
}

.post-cover-3 {
    background-image: url("/content/posts/post_kto-ja/post_kto-ja_cover.jpg");
}

.post-cover-4 {
    background-image: url("/content/posts/post_jurmala-anete/post_jurmala-anete_cover.jpg");
}

.post-cover-5 {
    background-image: url("http://via.placeholder.com/300x300");
}

#post_summer-anete:hover {
    background: #dfa190;
}

.smaller-post-font h3{
    font-size: 23px;
    font-weight: bold;
}

#post_kto-ya:hover {
    background: #2d2d2d;
}

#post_jurmala-anete:hover {
    background: #549ea6;
}

/* Portfolio Choice */

.porfolio-choice-container {
    max-width: 1200px;
    margin: 10px auto 0 auto;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-choice {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity 1 ease-in-out;
    -webkit-animation-duration: 1s;
    transition: opacity 1 ease-in-out;
    text-decoration: none !important;
    transition: all .4s;
    text-align: center;
}

.portfolio-choice-text {
    margin: auto;
    font-weight: 400;
    color: white;
    font-size: 25px;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity 1 ease-in-out;
    transition: all 1;
    width: 100%;
    height: 100%;
    line-height: 12;
}

.portfolio-choice:hover {
    opacity: .7;
}

.portfolio-choice:hover > .portfolio-choice-text {
    opacity: .8;
    background: #8e0e0e;
}

#landscape-choice {
    background-image: url(/media/portfolio-choice/gauja_300x300.jpg);
}

#portraits-choice {
    background-image: url(/media/portfolio-choice/anete_300x300.jpg);
}

#architecture-choice {
    background-image: url(/media/portfolio-choice/lnb_300x300.jpg);
}

/** About Me **/

#about-container {
    margin-bottom: 60px;
    margin-top: 50px;
}

.section-title .section-subtitle {
    margin-bottom: 10px;
    padding-left: 7px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #aaa;
    border-left: 2px solid #bfa67a
}

.about-moto {
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 1.25;
}

.about-profile img{
    width: 400px;
    height: auto;
}

.about-profile {
    display: inline-block;
}

#about-profile-container {
    width: 100%;
    text-align: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.divider-about {
    border-top: 1px solid #b4b4b4b4;
}

.about-text {
    text-indent: 30px;
}

/** Contact Me **/

.contact-title h1{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    padding: 40px;
}

.form-control {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #CCCCCC;
    font-size: 18px;
    margin-bottom: 16px;
}

.form-control:focus{
    border-color: #a9b1b1;
}

.submit {
    background: white;
    border: 1px solid #CCCCCC;
    color: black;
    font-size: 18px;
    margin-top: 20px;
}

.contact-form {
    width: 70%;
    margin: 0 auto 60px;
    padding-bottom: 2px;
}

.contact-form input, textarea {
    width: 100%;
    +box-sizing(border-box);
    padding: 10px;
}

.contact-form input, textarea:focus{
    outline: none;
}

.form-label {
    display: block;
}

.form-label span {
    display: block;
}

.name-group label {
    width: 50%;
    float: left;
    +box-sizing(border-box);
}

#firstname {
    padding-right: 20px;
}

[type=submit] {
    background-color: #8F8F8F;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3-px;
    text-transform: uppercase;
    max-width: 30%;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    letter-spacing: 1px;
    margin-top: 10px
}

.submit-wrap {
    text-align: left;
}

.submit-btn:hover{
    opacity: .8;
}

.submit-btn {
    border: none;
}

.other-contact {
    padding-bottom: 40px;
    text-align: center;
    white-space: nowrap;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.info-text {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: 5px;
}

#contact-form-title {
    padding-bottom: 30px;
}

.contact-logo img{
    width: 50%;
}

.contact-logo {
    text-align: center;
}

.contact-left {
    border-left: 1px solid #A5A5A5;
}

.contact-row {
    margin-bottom: 40px;
}



/* Media Queries */

@media (max-width: 600px) {
    /* Small - Landscape Phones*/
    #slide1 {
        height: 300px;
    }

    #slide2 {
        height: 300px;
    }

    #slide3 {
        height: 300px;
    }

    #slide4 {
        height: 300px;
    }

    .one-third {
        width: 98%;
        margin: 1%;
    }

    .image-list {
        padding-left: 5%;
        padding-right: 5%;
    }

    .post-grid {
        text-align: center;
    }

    .post-title {
        font-size: 30px;
    }

    .post-year {
        font-size: 30px;
    }
    
    .about-profile img{
        width: 80%;
        height: auto;
        padding-top: 20px;
    }
    
    .contact-form {
        max-width: 80%;
    }
    
    .info-text {
        font-size: 17px;
        padding-left: 10%;
    }  
    
    .full-width-image {
        width: 90%;
    }
    
    #about-container {
        padding: 8%;
    }
    
}

@media (min-width: 600px) {
    /* Medium - Tablets */
    #slide1 {
        height: 500px;
    }

    #slide2 {
        height: 500px;
    }

    #slide3 {
        height: 500px;
    }

    #slide4 {
        height: 500px;
    }

    .one-third {
        width: 48%;
        margin: 1%;
    }

    .image-list {
        padding-left: 10%;
        padding-right: 10%;
    }

    .post-grid {
        text-align: center;
    }
    
    .about-profile img{
        width: 300px;
        height: auto;
    }
    
    .contact-form {
        max-width: 80%;
    }
    
    .info-text {
        font-size: 22px;
        margin-left: 8%;
    }  
    
    .full-width-image{
        width: 80%;
    }
    
    #about-container {
        padding: 2%;
    }
    
}

@media (min-width: 992px) {
    /* Large - Desktops*/
    #slide1 {
        height: 700px;
    }

    #slide2 {
        height: 700px;
    }

    #slide3 {
        height: 700px;
    }

    #slide4 {
        height: 700px;
    }

    .one-third {
        width: 29%;
        float: left;
        margin: 2%;
    }

    .image-list {
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .about-profile img{
        width: 400px;
        height: auto;
    }
    
    .contact-form {
        max-width: 80%;
    }

    .info-text {
        font-size: 17px;
    }  
    
     .contact-left {
        border:none;
        border-left: 1px solid #A5A5A5;
    }
    
    .full-width-image {
        width: 100%;
    }
    
    #about-container {
        margin-bottom: 60px;
        margin-top: 50px;
    }
    
}

@media (min-width: 1200px) {
    /* Extra - Large Desktops*/
    
    #slide1 {
        height: 750px;
    }

    #slide2 {
        height: 750px;
    }

    #slide3 {
        height: 750px;
    }

    #slide4 {
        height: 750px;
    }
    
    .contact-form {
        max-width: 80%;
    }
    
   .info-text {
        font-size: 20px;
    }  
    
    .contact-left {
        border:none;
        border-left: 1px solid #A5A5A5;
    }
    
    .full-width-image {
        width: 75%;
    }
    
    #about-container {
        margin-bottom: 60px;
        margin-top: 50px;
    }
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
